@model Card

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        border: solid black;
        border-bottom: none;
    }
    th {
        border: solid black;
        border-bottom: none;
        padding-left: 0.5em;
    }
    td {
        border-bottom: solid;
        border-right: solid;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    a {
        float: right;
    }
</style>

<h2 style="margin-bottom:1em;">
    @Model.name
</h2>

<img style="position: relative; display: inline; float:left; margin-right:1em;" src="~/CardImages/Images/@(Model.id).jpg" />
<table style="table-layout:fixed" width="60%">
    <tbody>
        <tr>
            <th>Card Id</th>
            <th>Type</th>
            <th>Attribute</th>
            <th>Race</th>
        </tr>
        <tr>
            <td>
                @Model.id
            </td>
            <td>
                @Model.type
            </td>
            <td>
                @Model.attribute
            </td>
            <td>
                @Model.race
            </td>
        </tr>
        <tr>
            <th>Level</th>
            <th>ATK</th>
            <th>DEF</th>
            <th>Archetype</th>
        </tr>
        <tr>
            <td>
                @Model.level
            </td>
            <td>
                @Model.atk
            </td>
            <td>
                @Model.def
            </td>
            <td>
                @Model.archetype
            </td>
        </tr>
        <tr>
            <th colspan="4">Prices</th>
        </tr>
        <tr>
            <td>
                <a href="https://www.amazon.de/s?k=@Model.name&__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&ref=nb_sb_noss_2">Amazon&nbsp;@Model.card_prices.Select(x => x.amazon_price).FirstOrDefault()&euro;</a>
            </td>
            <td>
                <a href="https://www.cardmarket.com/de/YuGiOh/Products/Search?searchString=@Model.name">Cardmarket&nbsp;@Model.card_prices.Select(x => x.cardmarket_price).FirstOrDefault()&euro;</a>
            <td>
                <a href="https://www.ebay.de/sch/31395/i.html?_from=R40&_nkw=@Model.name&rt=nc&Sprache=Deutsch&_dcat=31395">Ebay&nbsp;@Model.card_prices.Select(x => x.ebay_price).FirstOrDefault()&euro;</a>
            </td>
            <td>
                <a href="https://www.tcgplayer.com/search/all/product?q=@Model.name">TCGPlayer&nbsp;@Model.card_prices.Select(x => x.tcgplayer_price).FirstOrDefault()&euro;</a>
            </td>
        </tr>
        <tr>
            <th colspan="4">Description</th>
        </tr>
        <tr>
            <td colspan="4">
                @Model.desc
            </td>
        </tr>
    </tbody>
</table>