@model ApiResponse

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Cards</h2>

@using (Html.BeginForm("Index", "Card", FormMethod.Get))
{
    <p>
        @Html.TextBox("search")
        <button class="btn btn-outline" type="submit">Search</button>
    </p>

    <label>
        Types:
        <select name="type" id="type">
            <option>All Types</option>
            <option value="Effect Monster">Effect Monster</option>
            <option value="Flip Effect Monster">Flip Effect Monster</option>
            <option value="Flip Tuner Effect Monster">Flip Tuner Effect Monster</option>
            <option value="Gemini Monster">Gemini Monster</option>
            <option value="Normal Monster">Normal Monster</option>
            <option value="Normal Tuner Monster">Normal Tuner Monster</option>
            <option value="Pendulum Effect Monster">Pendulum Effect Monster</option>
            <option value="Pendulum Flip Effect Monster">Pendulum Flip Effect Monster</option>
            <option value="Pendulum Normal Monster">Pendulum Normal Monster</option>
            <option value="Pendulum Tuner Effect Monster">Pendulum Tuner Effect Monster</option>
            <option value="Ritual Effect Monster">Ritual Effect Monster</option>
            <option value="Ritual Monster">Ritual Monster</option>
            <option value="Skill Card">Skill Card</option>
            <option value="Spell Card">Spell Card</option>
            <option value="Spirit Monster">Spirit Monster</option>
            <option value="Toon Monster">Toon Monster</option>
            <option value="Trap Card">Trap Card</option>
            <option value="Tuner Monster">Tuner Monster</option>
            <option value="Union Effect Monster">Union Effect Monster</option>
            <option value="Fusion Monster">Fusion Monster</option>
            <option value="Link Monster">Link Monster</option>
            <option value="Pendulum Effect Fusion Monster">Pendulum Effect Fusion Monster</option>
            <option value="Synchro Monster">Synchro Monster</option>
            <option value="Synchro Pendulum Effect Monster">Synchro Pendulum Effect Monster</option>
            <option value="Synchro Tuner Monster">Synchro Tuner Monster</option>
            <option value="XYZ Monster">XYZ Monster</option>
            <option value="XYZ Pendulum Effect Monster">XYZ Pendulum Effect Monster</option>
        </select>
    </label>

    <label>
        Races:
        <select name="race" id="race">
            <option>All Races</option>
            @*Monster Cards*@
            <optgroup label="Monster Cards"></optgroup>
            <option value="Aqua">Aqua</option>
            <option value="Beast">Beast</option>
            <option value="Beast-Warrior">Beast-Warrior</option>
            <option value="Creator-God">Creator-God</option>
            <option value="Cyberse">Cyberse</option>
            <option value="Dinosaur">Dinosaur</option>
            <option value="Divine-Beast">Divine-Beast</option>
            <option value="Dragon">Dragon</option>
            <option value="Fairy">Fairy</option>
            <option value="Fiend">Fiend</option>
            <option value="Fish">Fish</option>
            <option value="Insect">Insect</option>
            <option value="Machine">Machine</option>
            <option value="Plant">Plant</option>
            <option value="Psychic">Psychic</option>
            <option value="Pyro">Pyro</option>
            <option value="Reptile">Reptile</option>
            <option value="Rock">Rock</option>
            <option value="Sea Serpent">Sea Serpent</option>
            <option value="Spellcaster">Spellcaster</option>
            <option value="Thunder">Thunder</option>
            <option value="Warrior">Warrior</option>
            <option value="Winged Beast">Winged Beast</option>

            @*Spell Cards*@
            <optgroup label="Spell Cards"></optgroup>
            <option value="Normal">Normal</option>
            <option value="Field">Field</option>
            <option value="Equip">Equip</option>
            <option value="Continuous">Continuous</option>
            <option value="Quick-Play">Quick-Play</option>
            <option value="Ritual">Ritual</option>

            @*Trap Cards*@
            <optgroup label="Trap Cards"></optgroup>
            <option value="Normal">Normal</option>
            <option value="Continuous">Continuous</option>
            <option value="Counter">Counter</option>
        </select>
    </label>
}
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Type
        </th>
        <th>
            Description
        </th>
        <th>
            Atk
        </th>
        <th>
            Def
        </th>
        <th>
            Level
        </th>
        <th>
            Race
        </th>
        <th>
            Attribute
        </th>
        <th>
            Archetype
        </th>
        <th>
            Image
        </th>
    </tr>
    @for (int i = 0; i < Model.data.Length; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => m.data[i].id)
            </td>
            <td>
                @Html.DisplayFor(m => m.data[i].name)
            </td>
            <td>
                @Html.DisplayFor(m => m.data[i].type)
            </td>
            <td>
                @Html.DisplayFor(m => m.data[i].desc)
            </td>
            <td>
                @Html.DisplayFor(m => m.data[i].atk)
            </td>
            <td>
                @Html.DisplayFor(m => m.data[i].def)
            </td>
            <td>
                @Html.DisplayFor(m => m.data[i].level)
            </td>
            <td>
                @Html.DisplayFor(m => m.data[i].race)
            </td>
            <td>
                @Html.DisplayFor(m => m.data[i].attribute)
            </td>
            <td>
                @Html.DisplayFor(m => m.data[i].archetype)
            </td>
            <td>
                <a href="Card/Detail?cardId=@Model.data[i].id"><img src="~/CardImages/ImagesSmall/@(Model.data[i].id).jpg" /></a>
            </td>
        </tr>
    }
</table>

<script type="text/javascript">
    @if(ViewData["race"] != null)
    {
        @:document.getElementById("race").value = "@ViewData["race"]";
    }
    @if(ViewData["type"] != null)
    {
        @:document.getElementById("type").value = "@ViewData["type"]";
    }
</script>